[data-role="header"] h1.ui-title {
    margin-left: 10px;
    margin-right: 10px;
}

[data-role="header"] .ui-btn-right {
    margin-top: 8px;
}

[data-role="header"] .ui-btn-right .ui-btn-text {
    padding-left: 5px;
    padding-right: 5px;
}

.urlBar_container {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
}

.myWebView {
    width: 960px;
    height: 960px;
    -moz-transform: scale(0.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: 0 0;
    opacity: 0;
}

.container {
    overflow: hidden;
    width: 192px;
    height: 192px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.container:nth-child(3n) {
    margin-right: 0px;
}