.ui-page {
    background: #333333;
}

.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    height: 100%;
}

.ui-block-a:hover {
    /*background-color: #FFFFFF;*/
}

.ui-block-b {
    /*background-color: #FF0000;*/
}


@media screen and (max-width: 479px) {
    .ui-block-a, .ui-block-b {
        float: none;
    }
    .ui-block-a, .ui-block-b {
        height: 50% !important;
        width: 100% !important;
    }
}

.cube > .face {
    position: absolute;
}

.face {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: inherit;
    width: 204px;
    height: 204px;
    font-size: 2em;
    color: white;
    line-height: 185px;
    text-align: center;
    font-family: "Ubuntu Mono",monospace;
    text-shadow: -2px -1px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.target {
    position: relative;
    margin: 0 auto;
}

.cube > .face:nth-child(1) {
    background: rgb(102, 51, 255);
    /*-webkit-transform: translate3d(0,0,102px) rotateY(0deg);*/
}

.cube > .face:nth-child(2) {
    background: rgb(255, 153, 0);
    /*-webkit-transform: translate3d(0,0,-102px) rotateY(180deg);*/
}

.cube > .face:nth-child(3) {
    background: rgb(255, 0, 0);
    /*-webkit-transform: translate3d(-102px,0,0) rotateY(-90deg);*/
}

.cube > .face:nth-child(4) {
    background: rgb(51, 255, 0);
    /*-webkit-transform: translate3d(102px,0,0) rotateY(90deg);*/
}

.cube > .face:nth-child(5) {
    background: rgb(255, 255, 0);
    /*-webkit-transform: translate3d(0,-102px,0) rotateX(90deg);*/
}

.cube > .face:nth-child(6) {
    background: rgb(0, 153, 255);
    /*-webkit-transform: translate3d(0,102px,0) rotateX(-90deg);*/
}

.cube .active {
    opacity: 1;
}