.pagination
    {
        height: 50px;
        margin: 21px 0 0 -11px;
        width:101%;

        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.5, rgb(236,236,236)),
            color-stop(0, rgb(218,218,218))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(236,236,236) 50%,
            rgb(218,218,218) 0%
        );
    }

    .pagination .pageNumbers
    {
        height:34px;
        width: 250px;
        text-align:center;
        margin:0 auto;
        padding: 14px 0 0 0;
    }
    .pagination .nextButton, .pagination .prevButton
    {
        display:block;
        height:30px;
        width:30px;
        float:left;
    }

    .pagination .nextButton
    {
        float:right;
        background:url("images/bg_next_btn.png") no-repeat 10px center;
        margin-top: -40px;
    }

    .pagination .prevButton
    {
        float:left;
        background:url("images/bg_prev_btn.png") no-repeat 10px center;
        padding: 17px 0 0 0;
    }

    .pagination .pageNumbers a
    {
        display:block;
        float:left;
        height:30px;
        width:30px;
        color:#555555;
        text-decoration:none
    }

    .pagination .pageNumbers a:last-child
    {
        width:55px;
    }

    .pagination a.active
    {
        color:#e60003;
    }
