.custom-list .col-xs-2 {
    height: 44px;
    width: 44px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.kitchen-buttons .buttonview {
    margin-bottom: 15px;
}

.stencil div{
    font-size: 25px;
    line-height: 30px;
}

.stencil i{
    font-size: 100px;
    display: block;
    text-align: center;
    width: 100%;
}