.custom-list .col-xs-2 {
    height: 44px;
    width: 44px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.stencil div {
    font-size: 25px;
    line-height: 30px;
}

.stencil i {
    font-size: 100px;
    display: block;
    text-align: center;
    width: 100%;
}

.m-tab .textview.stencil {
    background: none;
}


.m-tab .stencil{
    background: none;
}

.m-tab .textview.stencil .input-icon-addon,
.m-tab .textview.stencil i {
    text-shadow: rgba(182, 183, 185, 0.5) 0px 3px 3px;
    background-color: #000000;
}

.m-tab:nth-child(1) {
    background: #1092d3;
}

.m-tab:nth-child(2) {
    background: #6c64ff;
}

.m-tab:nth-child(3) {
    background: #2dcca2;
}

.m-tab:nth-child(4) {
    background: #ed253d;
}

.m-tab:nth-child(5) {
    background: #f45b42;
}

.m-tab:nth-child(6) {
    background: #eab13a;
}

.scroll-up{
    margin-top: 500px;
}

.center-text{
    text-align: center;
}

.splitBackButton .button {
    border: 0;
    font-size: 1.4em;
    padding:0;
    text-align: left;
    padding: 0.6em 0.8em;
    margin-bottom: 0;
    background: none;
}

.splitlayout .listitemview li {
    height: 50px;
}

.splitlayout #leftContainer{
    border-right: 1px solid #ccc;
    background: #fbfbfb;
}

.splitlayout .toolbarview {
    position: relative;
}

.splitlayout .close {
    display: none;
}

.splitlayout.single #leftContainer {
    position: absolute;
    top: 50px;
    width: 180px;
    height: 340px;
    z-index: 9999;
    left: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}
