/* Put you custom stylings here! */

.ui-footer .ui-title {
    margin: .6em 30% .8em;
}

.staticWidth {
    width: 200px;
    height: 18px;
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid #bcbcbc;
}

.spacer1 {
    margin: 20px 0;
    border-bottom: 1px solid gainsboro;
}

.spacer2 {
    margin-top: 5px;
    border-bottom: 1px solid gainsboro;
}

.leftGridLabel {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    margin: 18px 10px 18px 0;
}

.rightGridLabel {
    text-align: left;
    font-size: 12px;
    margin: 18px 0 18px 5px;
}

.blue {
    color: #044062;
}

.red {
    color: #641714;
}

.green {
    color: #3c8f26;
}